<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center text-success">Add product</h2>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control">


                    {{!-- <label>Category</label>
                    <input type="text" name="Category" class="form-control"/> --}}

                     <label for="">Catagory</label>
                    {{!-- <input type="text" name="status" class="form-control" value="{{user.status}}"> --}}
                    <select name="Category" class="form-select" aria-label="Default select example">
                        <option>Catagory list</option>
                        {{#each item}}

                        <option value="{{this.Name}}">{{this.Name}}</option>
                        {{/each}}
                        {{!-- <option value="block">block</option> --}}

                    </select>
                    <label for="">Sub Catagory</label>
                    {{!-- <input type="text" name="status" class="form-control" value="{{user.status}}"> --}}
                    <select name="SubCategory" class="form-select" aria-label="Default select example">
                        <option>Subcategory list</option>
                        {{#each subitem}}

                        <option value="{{this.Name}}">{{this.Name}}</option>
                        {{/each}}
                        {{!-- <option value="block">block</option> --}}

                    </select>
                    <label>Price</label>
                    <input type="text" name="price" class="form-control">
                    <label>Description</label>
                    <input type="text" name="description" class="form-control"/>
                    <label>Image</label>
                    <input type="file" name="image" class="form-control"/>
                    <button type="submit" class="btn btn-success mt-3">Save</button>
                </form>
            </div>
        </div>

    </div>
</section>