<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center text-success">Edit user</h2>
                <form action="/admin/edit-user/{{product._id}}" method="post" enctype="multipart/form-data">
              
                    <label>First Name</label>
                    <input type="text" name="fname" class="form-control" value="{{product.fname}}">
                    <label>Last Name</label>
                    <input type="text" name="lname" class="form-control" value="{{product.lname}}"/>
                    {{!-- <label>Email</label>
                     <input type="text" name="Category" class="form-control" value="{{product.email}}"/> --}}
                     <label>Phone</label>
                     <input type="text" name="phone" class="form-control" value="{{product.phone}}"/>
                    <button type="submit" class="btn btn-success mt-3">Save</button>
                </form>
            </div>
        </div>

    </div>
</section>
